/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
body {
  font-family: 'Muli', sans-serif;
  background-color: #935d8c;
  background-image: url(images/overlay.png), -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  background-image: url(images/overlay.png), -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  background-image: url(images/overlay.png), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  background-image: url(images/overlay.png), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}
header {
  height: 50vh;
  margin: 0 10%;
  box-shadow: 10px 10px 5px #372c55;
  background-image: url("https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1331&q=80");
  background-size: 100%;
  background-position: 50% 70%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
nav a {
  text-decoration: none;
  color: #ebebeb;
  padding: 1% 0;
  margin: 0 2.5%;
}
header div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(1, 1, 1, 0.7);
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 5rem;
  color: #ebebeb;
}
h2 {
  text-align: center;
  padding: 4% 0;
  font-size: 2rem;
  color: white;
}
h3 {
  font-size: 1.8rem;
  margin-bottom: 3%;
  font-weight: 700;
}
h4 {
  padding: 4% 0;
  font-size: 1.2rem;
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.container {
  width: 75%;
  margin: 0 auto;
  background: white;
}
.about {
  display: flex;
  justify-content: space-around;
  padding: 10% 0;
}
.about .imgDiv {
  width: 40%;
}
.about .imgDiv img {
  width: 100%;
  border: 0.5px solid black;
  box-shadow: 5px 8px 5px black;
}
.about .aboutText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 5%;
  text-align: center;
}
.about .aboutText p {
  line-height: 1.5;
  text-align: left;
}
.websites {
  margin: 10% 0;
}
.websites h3 {
  text-align: center;
  margin-bottom: 5%;
}
.websites .row {
  display: flex;
  justify-content: space-between;
  margin: 6%;
}
.row .cardContainer {
  width: 30%;
}
.row .cardContainer h4 {
  text-align: center;
}
.row .cardContainer .card {
  box-shadow: 5px 8px 5px black;
}
.row .card {
  background: #011324;
  background: linear-gradient(288deg, #011324 0%, #00b5ff 100%);
}
.row .card img {
  width: 100%;
}
.card div p {
  padding: 4% 10%;
  background: white;
}
p span.trans {
  color: transparent;
}
.end {
  height: 10px;
  margin-bottom: 10%;
}
footer {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  background: white;
  padding: 2% 0;
}
@media (max-width: 1400px) {
  .about {
    padding: 10% 0;
  }
  .imgDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about .aboutText {
    padding: 0;
  }
}
@media (max-width: 1148px) {
  h1 {
    font-size: 3.8rem;
  }
  .about .aboutText p {
    font-size: 0.9rem;
  }
}
@media (max-width: 935px) {
  .about .imgDiv img {
    width: 60%;
  }
  .row {
    margin: 0;
  }
  .row .cardContainer {
    width: 60%;
  }
}
@media (max-width: 850px) {
  header {
    background-size: 150%;
    width: 100%;
    margin: 0 auto;
  }
  h1 {
    font-size: 3rem;
  }
  .container {
    width: 95%;
  }
  .about {
    flex-direction: column;
    align-content: center;
  }
  .about .imgDiv,
  .about .aboutText {
    width: 90%;
    margin: 0 auto;
  }
  .about .aboutText {
    margin-top: 10%;
  }
  .row {
    flex-direction: column;
    align-items: center;
  }
  .row .cardContainer {
    margin-bottom: 15%;
  }
  footer {
    width: 95%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .intro {
    height: 25vh;
  }
  h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  nav a {
    padding: 1% 2%;
  }
  header {
    width: 100%;
    margin: 0 auto;
    background-position: center;
  }
  h1 {
    font-size: 2.7rem;
  }
  .container {
    width: 100%;
  }
  .about {
    flex-direction: column;
    justify-content: center;
  }
  .about .imgDiv img {
    width: 90%;
    margin: 0 auto;
  }
  .about .aboutText {
    width: 90%;
    margin-top: 10%;
  }
  .websites h3 {
    margin: 20% auto;
  }
  .row .cardContainer {
    width: 80%;
  }
  .end {
    margin-bottom: 25%;
  }
  footer {
    width: 100%;
    margin: 0;
    padding: 2% 0;
  }
}
@media (max-width: 460px) {
  h1 {
    font-size: 2rem;
  }
  nav a {
    padding: 1% 2%;
  }
}
