* {
    box-sizing: border-box;
    max-width: 100%;
    // border: 1px solid red !important;
}

body {
    font-family: 'Muli', sans-serif;
//     background: rgb(36,1,31);
// background: linear-gradient(288deg, rgba(36,1,31,1) 0%, rgba(66,0,35,1) 100%);

background-color: #935d8c;
    background-image: url(images/overlay.png), -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-image: url(images/overlay.png), -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-image: url(images/overlay.png), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-image: url(images/overlay.png), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);



}



header {
    height: 50vh;
    margin: 0 10%;
    box-shadow: 10px 10px 5px #372c55;
    // background: #000000 url("https://images.unsplash.com/photo-1547394765-185e1e68f34e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-image: url("https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1331&q=80");
    background-size: 100%;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 2px solid green;
}
    
nav {
    // background: rgba(1,1,1,.7);
    width: 100%;
    display: flex;
    justify-content: center;
    
}

nav a {
    text-decoration: none;
    color: #ebebeb;
    padding: 1% 0;
    margin: 0 2.5%;

}


header div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1,1,1,.7);
    width: 100%;
    height: 100%;

    // background: rgb(0,0,0);
    // background: linear-gradient(171deg, rgba(0,0,0,1) 0%, rgba(64,57,57,1) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);

}

h1 {
    font-size: 5rem;
    color: #ebebeb;
}

h2 {
    text-align: center;
    padding: 4% 0;
    font-size: 2rem;
    color: white;
}


h3 {
    font-size: 1.8rem;
    margin-bottom: 3%;
    font-weight: 700;
}

h4 {
    padding: 4% 0;
    font-size: 1.2rem;
}


.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}



.container {
    width: 75%;
    margin: 0 auto;
    background: white;

}

.about {
    display: flex;
    justify-content: space-around;
    padding: 10% 0;
    // background: red;
}

.about .imgDiv{
    width: 40%;
}

.about .imgDiv img {
    // width: 40%;
    width: 100%;
    // border-radius: 10px;
    border: .5px solid black;
    box-shadow: 5px 8px 5px black;
}

.about .aboutText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 5%;
    text-align: center;
}

.about .aboutText p {
    line-height: 1.5;
    text-align: left;
}


.websites {
    margin: 10% 0;
}

.websites h3 {
    text-align: center;
    margin-bottom: 5%;
}

.websites .row{
    display: flex;
    justify-content: space-between;
    margin: 6%;
    
}

.row .cardContainer {
    // width: 42%;
    // width: 20%;
    width: 30%;
}

.row .cardContainer h4 {
    text-align: center;
}

.row .cardContainer .card {
    box-shadow: 5px 8px 5px black;
}

.row .card {
    background: rgb(1,19,36);
background: linear-gradient(288deg, rgba(1,19,36,1) 0%, rgba(0,181,255,1) 100%);

// background: black;
}

.row .card img {
    width: 100%;
}

.card div p {
    padding: 4% 10%;
    background: white;
}

p span.trans {
    color: transparent;
}

.end {
    height: 10px;
    margin-bottom: 10%;
}

footer {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    background: white;
    padding: 2% 0;
}

@media (max-width: 1400px){
    .about {
        padding: 10% 0;
    }

    .imgDiv {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about .aboutText {
        padding: 0;
    }

}

@media (max-width: 1148px) {
    nav a {
        // padding: 1% 2%;
    }

    h1 { 
        font-size: 3.8rem;
    }

    .about .aboutText p {
        font-size: .9rem;
    }
}

@media (max-width: 935px){
    .about .imgDiv img {
        width: 60%;
    }

    .row {
        margin: 0;
    }

    .row .cardContainer {
        // width: 42%;
        // width: 20%;
        width: 60%;
    }
}

@media (max-width: 850px){
    header {
        background-size: 150%;
        width: 100%;
        margin: 0 auto;
    }

    h1 {
        font-size: 3rem;
    }

    .container {
        width: 95%;
    }

    .about {
        flex-direction: column;
        align-content: center;
    }

    .about .imgDiv, .about .aboutText {
        width: 90%;
        margin: 0 auto;
    }

    .about .aboutText {
        margin-top: 10%;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .row .cardContainer {
        // width: 90%;
        margin-bottom: 15%;
    }

    footer {
        width: 95%;
        margin: 0 auto;
        
    }


}

@media (max-width: 600px){
    
    .intro {
        height: 25vh;
    }
    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 500px){

    nav a {
        padding: 1% 2%;
    }

    header {
        width: 100%;
        margin: 0 auto;
        background-position: center;
        
    }

    h1 {
        font-size: 2.7rem;
    }

    .container {
        width: 100%;
    }

    .about {
        flex-direction: column;
        justify-content: center;
    }

    .about .imgDiv img {
        width: 90%;
        margin: 0 auto;
    }

    .about .aboutText {
        width: 90%;
        margin-top: 10%;
    }

    .websites h3 {
        margin: 20% auto;
    }

    .row .cardContainer {
        width: 80%;
    }

    

    

    .end {
        margin-bottom: 25%;
    }

    footer {
        width: 100%;
        margin: 0;
        padding: 2% 0;
    }
}

@media (max-width: 460px){
    h1 {
        font-size: 2rem;
    }

    nav a {
        padding: 1% 2%;
    }
}